<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>loginservice</servlet-name>
		<servlet-class>com.dreamer8.yosimce.server.LoginServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservice</servlet-name>
		<url-pattern>/yosimce/loginservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>generalservice</servlet-name>
		<servlet-class>com.dreamer8.yosimce.server.GeneralServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>generalservice</servlet-name>
		<url-pattern>/yosimce/generalservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>planificacionservice</servlet-name>
		<servlet-class>com.dreamer8.yosimce.server.PlanificacionServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>planificacionservice</servlet-name>
		<url-pattern>/yosimce/planificacionservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>actividadservice</servlet-name>
		<servlet-class>com.dreamer8.yosimce.server.ActividadServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>actividadservice</servlet-name>
		<url-pattern>/yosimce/actividadservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>administracionservice</servlet-name>
		<servlet-class>com.dreamer8.yosimce.server.AdministracionServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>administracionservice</servlet-name>
		<url-pattern>/yosimce/administracionservice</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
