<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  
  <!-- Config  local -->
  
  <property name="hibernate.connection.password">simce</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/simce</property>
  <property name="hibernate.connection.username">simce</property>

<!--   FIN Config  local  -->




<!--  Config  hacia el maestro  -->

<!--    <property name="hibernate.connection.password">pg.simce</property>  -->
<!--    <property name="hibernate.connection.url">jdbc:postgresql://10.2.33.13:5432/simcedb</property>  -->
<!--    <property name="hibernate.connection.username">pg_simce</property>  -->

<!--  FIN Config  hacia el maestro  -->




<!--  Config  hacia el balanceador  -->

<!--    <property name="hibernate.connection.password">pg.simce</property>  -->
<!--    <property name="hibernate.connection.url">jdbc:postgresql://10.2.33.12:9999/simcedb</property>  -->
<!--    <property name="hibernate.connection.username">pg_simce</property>  -->

<!--  FIN Config  hacia el balanceador  -->




<!--  Config  hacia el balanceador TESTING  -->

<!--    <property name="hibernate.connection.password">lo.que.sea</property>  -->
<!--    <property name="hibernate.connection.url">jdbc:postgresql://10.2.33.12:9999/testdb</property>  -->
<!--    <property name="hibernate.connection.username">pg_test</property> -->
    
<!--  FIN Config  hacia el balanceador TESTING -->






  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.default_entity_mode">pojo</property>
  <property name="hibernate.order_inserts">true</property>
  <property name="hibernate.order_updates">true</property>
  <property name="hibernate.current_session_context_class">managed</property>
  
<!--   https://community.jboss.org/wiki/HowToConfigureTheC3P0ConnectionPool -->
<!-- http://www.mchange.com/projects/c3p0/ -->
  <property name="hibernate.c3p0.min_size">3</property>
  <property name="hibernate.c3p0.max_size">18</property>
  <property name="hibernate.c3p0.timeout">900</property>
  <property name="hibernate.c3p0.idle_test_period">120</property>
  
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Aviso.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/RequisitoXAplicacionXUsuarioTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Comuna.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Sexo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/SuplenteXCo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/CentroRegional.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/CcSala.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AlumnoXActividad.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Region.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Sesion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/CarreraEstado.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/TestCompetencia.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/CoXEstablecimiento.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Lote.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/CompaniaTelefono.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/GuiaDespacho.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AlumnoEstado.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/ActividadTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioXFaseXAplicacion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Universidad.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AplicacionXNivel.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/RutaXEstablecimiento.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AplicacionXNivelXActividadTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AlumnoXActividadXDocumento.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Curso.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AplicacionXUsuarioTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/MensajeTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Establecimiento.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AplicacionXNivelXUsuarioTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Transporte.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Lugar.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioXTest.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/TransporteXActividad.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Fase.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AplicacionXNivelXUsuarioTipoXComuna.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Provincia.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/EscalaItem.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/MaterialTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Nivel.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Archivo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/TransporteXAplicacionXNivel.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Alumno.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Usuario.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/CcModulo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/TestPregunta.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AlumnoTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/JzXZona.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/MotivoFalla.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/TrasladoModo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Requisito.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/JrXCentroRegional.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Contrato.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/ActividadEstado.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Material.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/HistorialCambios.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioDisponibilidad.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioXComuna.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioPreseleccion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioXCo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioSeleccion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioCapacitacion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/TransporteTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/DocumentoEstado.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/EstablecimientoTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Color.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/CcCapacitacion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Documento.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AreaGeografica.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AplicacionXUsuarioTipoXPermiso.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/IncidenciaTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Co.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioXTestRespuesta.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/EstablecimientoRegimen.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioXRequisito.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/ActividadHistorial.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/JoXCo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioXEstablecimiento.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Mensaje.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/FaseXAplicacionXTestXNivelXUsuarioTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Aplicacion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Actividad.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/DocumentoTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Cc.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/InstitucionTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Escala.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/MaterialEstado.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AplicacionXUsuarioTipoXCarrera.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/TrasladoModoXTransporteTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioXCcCapacitacion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/ActividadXIncidencia.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/ContactoCargo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioEstado.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AvisoXAplicacionXNivelXUsuarioTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/ArchvicoXAplicacionXNivelXUsuarioTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioXAplicacionXNivel.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Permiso.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/TestPreguntaOpcion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/EstablecimientoDependencia.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/UsuarioXActividad.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/MaterialXGuiaDespacho.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/ActividadXDocumentoTipo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Carrera.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/EstablecimientoEstado.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AplicacionXNivelXUsuarioTipoXCo.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/CcXComuna.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/MaterialHistorial.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/TestPreguntaAlternativa.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Ruta.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Zona.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AplicacionCapacitacion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/AplicacionXEstablecimiento.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/FaseXAplicacion.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/Test.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/ActividadXDocumento.hbm.xml"/>
  <mapping resource="com/dreamer8/yosimce/server/hibernate/pojo/MaterialXlote.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
