<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">simce</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/simce</property>
  <property name="hibernate.connection.username">simce</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.default_entity_mode">pojo</property>
  <property name="hibernate.order_inserts">true</property>
  <property name="hibernate.order_updates">true</property>
 </session-factory>
</hibernate-configuration>
